{erl_opts, [
  debug_info
  , {parse_transform, lager_transform}
  , {parse_transform, exprecs}
]}.
{deps, [
  {parse_trans, "3.0.0"}
  , {lager, "3.5.2"}
  , {mixer, "1.0.0", {pkg, inaka_mixer}}
  , {xfutils, {git, "https://github.com/simonxu72/erlang-xfutils", {branch, "master"}}}
  , {pg_repo, {git, "https://github.com/simonxu72/pg_repo", {branch, "master"}}}
  , {csv_parser, {git, "https://github.com/jiarenjie/csv_parser", {branch, "master"}}}

]}.
{plugins, [
  {hrl_plugin, {git,"https://github.com/jiarenjie/hrl_plugin", {branch, "master"}}}
]}.
{provider_hooks, [
  {pre, [{compile, {hrl_plugin, echo}}]}
]}.
{shell, [
  {apps, [lager, mnesia, csv_parser, pg_store]}
  , {config, "sys.config"}]}.